
/* Estilos generales */
/*--google Fonts--*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{  margin: 0px;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
     }

    
.gridConteiner{

    display:grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 20%;
    grid-template-areas: 

   "header"
   "main"
   "footer"
    ;
    }    

    header{
        grid-area: header;
    }
    main{
    grid-area:main;}
    
    footer{
    grid-area: footer;

    }

/*HEADER*/

.header nav ul{
display:flex;
list-style: none;
justify-content: space-around;  
align-items : center ;
background-color:lightgray;
}

.header nav ul li{
    margin: 10px
}

.header nav ul li:hover{ background: yellowgreen;}

.header nav ul li a{
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    color: darkgreen;
    font-family: sans-serif;
    
}
   
.titulo1{text-align: center;
    font-size: 60px;
    color: wheat;
    font-family: Helvetica;
    width: 100%; 
   height: 100px;
    background-color: darkgreen;
    }

    .titulo1{ background-color: #63d471;
        background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
    }   
    

.tituloUno{text-align: center;
    font-size: 48px;
    color:wheat;
    font-family: sans-serif;
    position: relative;
    margin-top: 50px;
    }
.tituloDos{text-align: center;
    font-size: 40px;
    color:wheat;
    font-weight: bold;
    position: relative;
    top: 100px;
    font-family: sans-serif;
    }
.parrafouno{background-color:darkseagreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
    left: auto;
    width: 100%;      
    }

/* Etiquetas*/

.gridConteiner{font-family: 'Roboto', sans-serif
}
.gridConteiner{background-color: darkseagreen;
  
}
body{background-color: darkseagreen;}

.sectionOne article div{

    display:flex;
    align-items: center;
    flex-direction: row;
    }


/*SERVICIOS*/

   
 .serviciosh1{
        text-align: center;
        font-size: 35px;
        color: wheat;
        font-family: Helvetica;
        width: 100%; 
        height: 100px;
        line-height: 100px;
        background-color: darkgreen;
   
 }
 .parUno{
    font-size: 20px;
    color: green;
    background-color: lemonchiffon;
    text-align: justify;
    font-weight: 500;
    padding: 5px;
    margin:10px;

    }
.servicioConteiner h3{
        text-align: left;
        font-size: 20px;
        color: wheat;
        width: 100%; 

        background-color: gray; 
        margin:10px;
}
 
.sectionOne{
    
    font-size: 20px; color: darkolivegreen;
    font-weight: bold;  font-style: oblique;
    width: 100%;
    margin: 10px;
    background-color: lightgoldenrodyellow;
}


.sectionTwo .foto img{ transition: all 2s;  
 }

.sectionTwo .foto img:hover{
    width: 400px;
    height: 400px;;
}


.sectionOne article .divTitulo{
    font-size: 30px;
    font-style: normal;
}

h4{ 
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}

/*FOOTER*/
.footer{
    color: green;
    font-size: small;
    background-color: lightgrey;  
    margin-top: 200px;
   
}

/*--en Noticias--*/

.noticiash1{ text-align: left  ;
    font-size: 30px;
    color:beige;
    font-weight: bold;
    width: 100%; height: 15;
    background-color:green;
    margin-top: 5px;
    margin-bottom: 15px;

}

.linksnoticias article{text-align: center;}

.linksnoticias article a
   {
    font-size: 20px;
    color:darkgreen;
    text-decoration: none;
     font-weight: 800;
    }

    .imgnoti{
    margin-top: 10px;
     display: grid;
     grid-template-columns: auto auto;
     grid-template-rows: auto;
     justify-content: space-around;

    }
    
.tituloTres{text-align: start;
    font-size: 20px;
    color: black;
    font-family: Helvetica;
    width: 100%; 
    height: 100px;
    line-height: 100px;

    }
.preguntas{
        width: 300px;
        font-family: sans-serif;
        padding: 20px;
        margin-top: 50px;

}
button{ font-size: 20px;
font-family: sans-serif;
color: crimson;}


/*--en Contacto--*/

.formulario { width: 500px;
    background:gray;
    font-family: sans-serif;
    padding: 20px;
    margin:auto;
    margin-top: 70px;
}

.contacto{ 
    font-family: sans-serif;
    font-size: 30px; color: black;
    font-weight: bold;
    text-decoration: solid;
}
.datoscontacto{
    font-family: sans-serif;
    font-size: 25px; color:black;
    font-weight: bold;

}

/*Quienes somos*/
h2{font-family: sans-serif;
    font-size: 30px; color:black;
    font-weight: bold;
    padding: 20px;
    border: 10px;
    text-align: center;
}
.foto4{ padding-top: 20px;
     margin: auto;
   
}

#abajo{ color: beige;
    font-size: small;}

   

    
/*MEDIA QUERIES*/
/*SMART PHONE*/
@media(max-width:480px){
    /*index.htlm*/
    .main{background-color: darkgreen;}
    .titulo1{font-size: 40px;}
    .tituloDos{font-size: 25px;
    margin-top: 50px;}
    .tituloUno{font-size:20;}
    .parrafouno{ font-size: 15px; 
                  text-align: justify;}
                  
   .header nav ul li{ display: flex;
                   flex-flow: column nowrap;
                   background-color: black;
                
                }
                   
/*servicios*/

.sectionOne div{
   
    font-size: 15px;
    text-align: left;

}
.sectionTwo{
   
    display:grid;/*se le aplica al contenedor de fotos*/
    grid-template-columns: 100%;
    grid-template-rows: repeat(6,1fr)      
     
}

.parUno{font-size: 10px;}

.h4{ font-size: 10px;
    text-align: left;}

/*Noticias hoy*/



}
/*TABLET*/
@media(min-width: 481px) and (max-width: 1023px){
    
 .gridConteiner{background-image:url("https://img.freepik.com/foto-gratis/toma-aerea-hermoso-campo-verde-agricola-cerca-montanas_181624-29589.jpg?w=1060")    ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        }


    .titulo1{font-size: 45px;}
    .tituloDos{font-size: 25px;}
    .tituloUno{font-size:20;}
    .parrafouno{ font-size: 20px; 
                  text-align: justify;}
                  
   .header nav ul{ display: flex;
    flex-flow: column nowrap;}

   /*Servicios*/
   
.serviciosh1{
   font-size: 25px;

}

   
.sectionOne div{
   
    font-size: 15px;
    text-align: left;

}
.sectionOne article .divTitulo{
    font-size: 20px;
}
.sectionTwo{
    background-color: darkolivegreen;
    display:grid;/*se le aplica al contenedor de fotos*/
    grid-template-columns: auto;
    grid-template-rows: auto auto auto; 
    justify-content: space-around;
}
h3{font-size: 20px;}
h4{ font-size: 20px;
    text-align: left;}
}


/*DESKTOP*/
@media (min-width: 1024px){
   
    /*Index*/
.gridConteiner{background-image:url("https://img.freepik.com/foto-gratis/toma-aerea-hermoso-campo-verde-agricola-cerca-montanas_181624-29589.jpg?w=1060")    ;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
        }
    
        /*Servicios*/
    .sectionTwo{
   
        display:grid;/*se le aplica al contenedor de fotos*/
        grid-template-columns: auto auto auto;
        grid-template-rows:auto auto;
        justify-content: space-around;
            
        background-color: darkolivegreen;
      
    }

}
