
@import "../base/variables";
/*Estilos para NAV en todas las secciones*/
.header{
    nav{
        ul{
            display:flex;
            list-style: none;
            justify-content: space-around;  
            align-items : center ;
            background-color:lightgray;
            li{ margin: 10px;
                a{  text-decoration: none;
                    font-weight: 800;
                    text-transform: uppercase;
                    text-shadow: 2px 2px 2px $color-secundario2;
                    color: $color-principal;
                    font-family: sans-serif;}
           
                      
                }              
            }    
        }
        }   
   
    /*fin de estilo de NAV*/   
