@import "../base/variables";
@import "../base/generales";

main .tituloUno{
    text-align: center;
    font-size: 60px;
    color: wheat;
    width: 100%; 
    height: 100px;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
}
            
    .parrafouno{ 
    background-color:$color-secundario2;
    font-size: 20px;
    padding: 20px;
    left: auto;
    width: 100%;    }         
                
           
//EXTEND

main section{
 .tituloDos{ 
    @extend .tituloUno;
    margin-top: 50px;
    background-image: none;
    background-color: $color-principal;
    
    }
       

 .tituloTres{
   
    @extend .tituloUno;
    font-weight: bold;
    background-image: none;
    margin-top: 50px;

    animation-name: animacionindex;
    animation-duration: 5s;
    position:relative;
    animation-iteration-count: 3;
    }
    @keyframes animacionindex {

        0%{left: 0;top:0px;}
        50%{left: 300px;right:300px}
        100%{left: 0px; right:0px}

    }
}

/* Estilos en Contacto*/

//Mixin

@mixin tipografia($letra, $tamano,$color){
    font-family: $letra;
    font-size: $tamano;
    color:$color;
}
@mixin margen($padin,$margin){
    padding: $padin;
    margin:$margin;
}

.formulario { 
    @include tipografia(sans-serif, 15px, black);
    @include margen(20px,auto);
    width: 500px;
    background:gray;
   
}

.contacto{ 
    @include tipografia(sans-serif, 30px, black);
    font-weight: bold;
    text-decoration: solid;
}
.datoscontacto{
    @include tipografia(sans-serif,25px , black );
    font-weight: bold;

}
.bodycontacto{ 
    background-color:$color-secundario2;
}

/*fin estilos para contacto*/

/*Estilos en Servicios*/

.h4-parrafo{
    @include tipografia(sans-serif,1.5rem ,$color-principal);
    background-color: $color-secundario4;
    text-align: justify;
    font-weight: 500;
    @include margen(5px,10px )
    
    }
 
.sectionOne{
    @include tipografia(sans-serif,1.5rem ,$color-secundario3 );
    font-weight: bold;  font-style: oblique;
    width: 100%;
    margin: 10px;
    background-color: $color-secundario4;

}

.tituloCuatro{
    text-align: left;
    font-size: 20px;
    margin:10px;

}
.sectionTwo .img-fluid { transition: all 2s;  
 }

.sectionTwo .img-fluid:hover{
    width: 400px;
    height: 400px;;
}

.sectionOne article .divTitulo{
    font-size: 30px;
    font-style: normal;
}

h4{ @include tipografia(sans-serif,2rem ,$color-secundario4 );
       text-align: center;
       }
/*Fin de estilos Servicio*/

/*Quienes somos*/

    
.foto4{padding-top: 40px;
     margin-left: 60px;
   }

.parqs1{@include tipografia(sans-serif, 1.5rem,$color-secundario3 );}
.tituloDos{text-align: center;
font-style: italic;}

//fin de estilo en Quienes Somos

/*--en Noticias--*/

.noticiash1{
    @include tipografia(helvetica, 2rem,$color-secundario4 );
    text-align: left  ;
    font-weight: bold;
    width: 100%; height: 15;
    background-color:$color-principal;
    margin-top: 5px;
    margin-bottom: 15px;
}
.tituloCuatro{
    @extend .h4-parrafo;
}
   //fin de estilo Noticias
    
   

.linksnoticias article{text-align: center;}

.linksnoticias article a
   { @include tipografia(sans-serif, 2rem, $color-principal );
     text-decoration: none;
     font-weight: 800;
    }

    .imgnoti{
    margin-top: 10px;
     display: grid;
     grid-template-columns: auto auto;
     grid-template-rows: auto;
     justify-content: space-around;
    animation-name: animacionoti;
    animation-duration: 5s;
    position:relative;
    animation-iteration-count:2;
    }
    @keyframes animacionoti {

        0%{left: 0;top:0px;}
        25%{left:300px;top:0px}
        50%{left: 300px;top:300px}
        75%{left: 0px; top: 300px;}
        100%{left: 0px; top:0px}

    }
        
.tituloTres{
    @include tipografia(helvetica,2rem ,black );
    text-align: start;
    width: 100%; 
    height: 100px;
    line-height: 100px;

    }  
    
   
.preguntas{
        width: 300px;
        font-family: sans-serif;
        padding: 20px;
        margin-top: 50px;

}
button{ 
    @include tipografia(sans-serif,2rem ,crimson );
    }
