//MAPS
$variables:(
    principal: darkgreen,
    secundario:darkolivegreen,
    terciario:lightgray,
);
$principal: map-get($map: $variables, $key: principal );
$secundario: map-get($map: $variables, $key: secundario );
$terciario: map-get($map:$variables, $key: terciario );

@media(max-width:480px){
  
    .main{background-color: $principal;}
    .tituloUno{font-size: 2rem;}
    .tituloDos{font-size: 2rem;
              margin-top: 50px;}
               
   .tituloTres{font-size: 1rem;}
   .parrafouno{  font-size: 1.2rem;
                  text-align: justify;}
                  
   .header nav ul {
                   display: flex;
                   flex-flow: column nowrap;
                   background-color:$terciario;
                
                }
 //Servicios
 .sectionTwo{
    background-color: $secundario;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto; 
    justify-content: space-around;
    margin-left: 15px;
            }
   

        }      

 
/*TABLET*/
@media(min-width: 481px) and (max-width: 1023px){
    
    .gridConteiner{background-image:url("https://img.freepik.com/foto-gratis/toma-aerea-hermoso-campo-verde-agricola-cerca-montanas_181624-29589.jpg?w=1060")    ;
           background-repeat: no-repeat;
           background-size: cover;
           background-position: center center;
           }
   
   
       .titulo1{font-size: 2.5rem;}
       .tituloDos{font-size: 2rem;
  
        }
       .tituloUno{font-size:1.5rem;}
       .parrafouno{ font-size: 1.5rem; 
                     text-align: justify;}
                     
      .header nav ul{ display: flex;
       flex-flow: column nowrap;}
   
      /*Servicios*/
      
   .serviciosh1{
      font-size: 25px;
      }
         
   .sectionOne div{
      
       font-size: 15px;
       text-align: left;
   
   }
   .sectionOne article .divTitulo{
       font-size: 20px;
   }
   .sectionTwo{
       background-color: $secundario;
       display:grid;/*se le aplica al contenedor de fotos*/
       grid-template-columns: auto;
       grid-template-rows: auto auto auto; 
       justify-content: space-around;
       margin-left: 15px;
   }
   h3{font-size: 20px;}
   h4{ font-size: 20px;
       text-align: left;}

       //Contacto
 .formularioContainer{

    width: fit-content;
    margin-top: 10px;
   }
   
   //Noticias
   .imgnoti{

    animation-name: animacionoti;
    animation-duration: 5s;
    position:relative;
    animation-iteration-count: 1;
    }
    @keyframes animacionoti {

        0%{left: 0;top:0px;}
        50%{left: 300px;right: 300px;}
        100%{left: 0px; right:0px}
       }


 
 }
   /*DESKTOP*/
   @media (min-width: 1024px){
      
       /*Index*/
   .gridContainer{background-image:url("https://img.freepik.com/foto-gratis/toma-aerea-hermoso-campo-verde-agricola-cerca-montanas_181624-29589.jpg?w=1060")    ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
           }
       
           /*Servicios*/
       .sectionTwo{
      
           display:grid;/*se le aplica al contenedor de fotos*/
           grid-template-columns: auto auto auto;
           grid-template-rows:auto auto;
           justify-content: space-around;
           background-color: $secundario; 
                
       }
       .imgnoti{
        animation-name: animacionoti;
        animation-duration: 2s;
        position:relative;
        animation-iteration-count: 3;
        }
    
    @keyframes animacionoti {

        0%{left: 0;top:0px;}
        50%{left: 500px;right: 500px;}
        100%{left: 0px; right:0px}
       }

   }