@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0px;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

/*Estilo gral Index*/
.gridContainer {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 20%;
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.gridContainer {
  background-color: darkseagreen;
  background-image: url("https://img.freepik.com/foto-gratis/toma-aerea-hermoso-campo-verde-agricola-cerca-montanas_181624-29589.jpg?w=1060");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*fin de estilo gral de Index*/
body {
  background-color: darkseagreen;
}

/*Estilos para NAV en todas las secciones*/
.header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
}
.header nav ul li {
  margin: 10px;
}
.header nav ul li a {
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px darkseagreen;
  color: darkgreen;
  font-family: sans-serif;
}

/*fin de estilo de NAV*/
* {
  margin: 0px;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

main .tituloUno, main section .tituloTres, main section .tituloDos {
  text-align: center;
  font-size: 60px;
  color: wheat;
  width: 100%;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
}

.parrafouno {
  background-color: darkseagreen;
  font-size: 1.5rem;
  padding: 20px;
  left: auto;
  width: 100%;
}

main section .tituloDos {
  margin-top: 50px;
  background-image: none;
  background-color: darkgreen;
}
main section .tituloTres {
  font-weight: bold;
  background-image: none;
  margin-top: 50px;
  animation-name: animacionindex;
  animation-duration: 3s;
  position: relative;
  animation-iteration-count: 3;
}
@keyframes animacionindex {
  0% {
    left: 0;
    top: 0px;
  }
  50% {
    left: 100px;
    right: 100px;
  }
  100% {
    left: 0px;
    right: 0px;
  }
}

/* Estilos en Contacto*/
.formularioContainer {
  font-family: sans-serif;
  font-size: 15px;
  color: black;
  padding: 10px;
  margin: 50px;
  border-radius: 1rem;
  background-color: darkgreen;
  max-width: 400px;
  width: 90%;
}

.form {
  display: grid;
  gap: 1rem;
  grid-auto-columns: auto1;
}

form input {
  width: 70%;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.8em;
  border: 2px solid lightslategrey;
}

.tituloContacto {
  font-family: sans-serif;
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.contacto {
  font-family: sans-serif;
  font-size: 40px;
  color: darkgreen;
  font-weight: bold;
  text-decoration: solid;
  text-align: center;
  text-decoration-line: underline;
}

.contactoContainer {
  font-family: sans-serif;
  font-size: 25px;
  color: darkgreen;
  font-weight: bold;
}

.pais {
  font-family: sans-serif;
  font-size: 35px;
  color: black;
  font-weight: bold;
}

.bodycontacto {
  background-image: url(https://img.freepik.com/fotos-premium/campo-soja-verde-periodo-floracion-limpio-enfermedades-plagas-sano_73164-17.jpg?w=1060);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*fin estilos Contacto*/
/*Estilos en Servicios*/
.h4-parrafo, .tituloCuatro {
  font-family: sans-serif;
  font-size: 1.5rem;
  color: darkgreen;
  background-color: lemonchiffon;
  text-align: justify;
  font-weight: 500;
  padding: 5px;
  margin: 10px;
}

.sectionOne {
  font-family: sans-serif;
  font-size: 1.5rem;
  color: darkolivegreen;
  font-weight: bold;
  font-style: oblique;
  width: 100%;
  margin: 10px;
  background-color: lemonchiffon;
}

.tituloCuatro {
  text-align: left;
  font-size: 20px;
  margin: 10px;
}

.sectionTwo .img-fluid {
  transition: all 3s;
}

.sectionTwo .img-fluid:hover {
  width: 300px;
  height: 300px;
}

.sectionOne article .divTitulo {
  font-size: 30px;
  font-style: normal;
}

h4 {
  font-family: sans-serif;
  font-size: 2rem;
  color: lemonchiffon;
  text-align: center;
}

/*Fin de estilos Servicio*/
/*Quienes somos*/
.foto4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.parqs1 {
  font-family: sans-serif;
  font-size: 1.5rem;
  color: darkolivegreen;
}

.tituloDos {
  text-align: center;
  font-style: italic;
}

/*--en Noticias--*/
.noticiash1 {
  font-family: helvetica;
  font-size: 2rem;
  color: lemonchiffon;
  text-align: left;
  font-weight: bold;
  width: 100%;
  height: 15;
  background-color: darkgreen;
  margin-top: 5px;
  margin-bottom: 15px;
}

.linksnoticias article {
  text-align: center;
}

.linksnoticias article a {
  font-family: sans-serif;
  font-size: 2rem;
  color: darkgreen;
  text-decoration: none;
  font-weight: 800;
}

.imgnoti {
  padding: 20px;
  margin: 20px;
}

.tituloTres {
  font-family: helvetica;
  font-size: 2rem;
  color: black;
  text-align: start;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.py-5 {
  background-color: darkseagreen;
  margin-top: 250px;
  background-size: contain;
}

@media (max-width: 480px) {
  .main {
    background-color: darkgreen;
  }
  .tituloUno, main section .tituloDos, main section .tituloTres {
    font-size: 2rem;
  }
  .tituloDos {
    font-size: 2rem;
    margin-top: 50px;
  }
  .tituloTres {
    font-size: 1rem;
  }
  .parrafouno {
    font-size: 1.2rem;
    text-align: justify;
  }
  .header nav ul {
    display: flex;
    flex-flow: column nowrap;
    background-color: lightgray;
  }
  .sectionTwo {
    background-color: darkolivegreen;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: space-around;
    margin-left: 15px;
  }
  .imgnoti {
    display: flex;
    justify-content: left;
  }
}
/*TABLET*/
@media (min-width: 481px) and (max-width: 1023px) {
  .gridConteiner {
    background-image: url("https://img.freepik.com/foto-gratis/toma-aerea-hermoso-campo-verde-agricola-cerca-montanas_181624-29589.jpg?w=1060");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .titulo1 {
    font-size: 2.5rem;
  }
  .tituloDos {
    font-size: 2rem;
  }
  .tituloUno, main section .tituloDos, main section .tituloTres {
    font-size: 1.5rem;
  }
  .parrafouno {
    font-size: 1.5rem;
    text-align: justify;
  }
  .header nav ul {
    display: flex;
    flex-flow: column nowrap;
  }
  /*Servicios*/
  .serviciosh1 {
    font-size: 25px;
  }
  .sectionOne div {
    font-size: 15px;
    text-align: left;
  }
  .sectionOne article .divTitulo {
    font-size: 20px;
  }
  .sectionTwo {
    background-color: darkolivegreen;
    display: grid; /*se le aplica al contenedor de fotos*/
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: space-around;
    margin-left: 15px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 20px;
    text-align: left;
  }
  .formularioContainer {
    width: fit-content;
    margin-top: 10px;
  }
  .imgnoti {
    animation-name: animacionoti;
    animation-duration: 5s;
    position: relative;
    animation-iteration-count: 1;
  }
  @keyframes animacionoti {
    0% {
      left: 0;
      top: 0px;
    }
    50% {
      left: 300px;
      right: 300px;
    }
    100% {
      left: 0px;
      right: 0px;
    }
  }
}
/*DESKTOP*/
@media (min-width: 1024px) {
  /*Index*/
  .gridContainer {
    background-image: url("https://img.freepik.com/foto-gratis/toma-aerea-hermoso-campo-verde-agricola-cerca-montanas_181624-29589.jpg?w=1060");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  /*Servicios*/
  .sectionTwo {
    display: grid; /*se le aplica al contenedor de fotos*/
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    background-color: darkolivegreen;
  }
  .imgnoti {
    animation-name: animacionoti;
    animation-duration: 2s;
    position: relative;
    animation-iteration-count: 3;
  }
  @keyframes animacionoti {
    0% {
      left: 0;
      top: 0px;
    }
    50% {
      left: 500px;
      right: 500px;
    }
    100% {
      left: 0px;
      right: 0px;
    }
  }
}

/*# sourceMappingURL=destino.css.map */
